# Python cache
__pycache__/
*.py[cod]

# MyPy cache
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/

# Test / coverage cache
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db